!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title MyPix
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      .row
        .col-sm-12
          = render "layouts/flash"
          .jumbotron
            .row
              .col-sm-12.col-md-4
                %h1.tk-bd-brick MyPiX
                %p Store your pictures online
                %p
                  = link_to "<span class='glyphicon glyphicon-arrow-right'></span> Start here".html_safe, new_user_registration_path, class: "btn btn-lg btn-primary"
                %p.text-muted
                  Already have an account?
                  = link_to "Sign in", new_user_session_path
              .col-sm-12.col-md-8
                - if @pics.present?
                  .row.pics
                    - @pics.each do |pic|
                      .col-sm-4
                        = image_tag(pic.image_url(:thumb_l), class: "img-responsive img-circle")
    = render 'layouts/javascripts'
