.row
  .col-sm-12.col-md-8
    = image_tag(@pic.image_url, class: "img-responsive img-thumbnail")
  .col-sm-12.col-md-4
    .clearfix
      %h2.pull-left= @pic.title
    %p= @pic.description
    - if @pic.exifs.present?
      %h4 EXIF data
      %ul.list-group
        - @pic.exifs.each do |k,v|
          - if v.present?
            %li.list-group-item
              = "#{k.to_s.humanize}: #{v}"
    .btn-group.pull-right
      = link_to_back(user_path(current_user), class: 'btn btn-default')
      - if can? :update, @pic
        = link_to edit_user_pic_path(@pic.user, @pic), class: "btn btn-primary", data: {toggle: "tooltip", placement: "bottom"}, title: "Edit Pix" do
          %span.glyphicon.glyphicon-edit{aria: {hidden: "true"}}
          Edit
      - if can? :destroy, @pic
        = link_to @pic, method: :delete, confirm: "Are you sure?", class: "btn btn-danger", data: {toggle: "tooltip", placement: "bottom", confirm: "Are you sure?"}, title: "Delete Pix" do
          %span.glyphicon.glyphicon-trash{aria: {hidden: "true"}}
          Destroy

