- if target.errors.any?
  .alert.alert-danger.fade.in
    %h2
      - if target.errors.size > 1
        = "#{target.errors.count} errors prohibited this #{target.class.to_s.downcase} from being saved"
      - else
        = "1 error prohibited this #{target.class.to_s.downcase} from being saved"
    %ul
      -  target.errors.full_messages.each do |msg|
        %li
          = msg
